
/* Variables */
:root{
    --c--gray:#f3f1f191;
    --c-dark:#212529;
    --c-light-red:rgb(212, 92, 92);
    --c-body:#727272;
    --font-base:"EB Garamond", serif;
    --transition: all 0.5s ease;
}

/* Reset and Helpers */
body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4,.h5,.h6{
    font-weight: 600;
}
#slogan{
    font-weight: 600;
    font-size: 22px;
    font-style:italic;
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition:var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}
img{
    max-width: 100%;
    height: auto;
}

/* Section */
.section-padding{
   padding-top: 100px; 
   padding-bottom: 100px;
}

.section-title{
    margin-bottom: 40px;
    color: var(--c-light-red);
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-light-red);
    margin: 16px auto 24px auto;
}

/* IconBox */

.iconbox{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left,rgba(211, 101, 96, 0.2), rgba(223, 198, 198, 0.1));
    color: var(--c-body);
    font-size: 40px;
    flex:none;
}

/* Navbar */

.navbar{
    box-shadow: var(--box-shadow);
    font-size:19px;
}

.navbar-nav{
    gap: 10px;
}

.navbar-nav .nav-link{
    font-weight: 500;
    color:var(--c-dark);
}

.navbar-nav .nav-link:active{
    background-color: var(--c--gray);
    color: var(--c-light-red);
}

/* BTN */
.btn{
    font-weight:bold;
    font-size: 19px;   
}

.main-btn{
    display:flex;
    width: 100%;
    justify-content: center;
    gap:19px;
    }


/* Hero */
#hero{
    background: linear-gradient(to left,rgba(221, 66, 60, 0.2), rgba(255,255,255,0.1)), url(../Images/LovelyCare.jpg);
    background-position: center;
    background-size: cover; 
    color: rgb(182, 69, 69); 
}

/* About */
 .about{
    color: var(--c-body);
    font-size: 22px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
 }

 .about-line{
    font-style: italic;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
 }

 .about-paragraph{
    font-size: 22px;
    text-align: justify;
    margin-top: 15px;
 }

.about-list{
    font-size: 20px;
    margin-top: 20px;
 }

 /* Services */

#services{
    padding-bottom: 160px;
}


.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgba(var(--c-brand-light), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-light-red);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.services-paragraph{
    font-size: 18px;
}

 /* Counter */
 #counter {
    background: linear-gradient(to right,rgba(124, 25, 21, 0.4), rgba(190, 86, 86, 0.1)), url(../Images/counter_image.jpg);
    background-position:50% 15%;
    background-size:cover;
    height: 700px;
    color: aliceblue;
}

 /* Review */
 
.review small {
    font-weight: 500;
    text-transform: uppercase;   
}
.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: rgb(214, 60, 60);
    transform: rotate(45deg);
}

/* Contacts */

#contact {
    position: relative;
    z-index: 2;
    background-color: rgb(214, 60, 60);
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}